$color-text: #334D6E;
$color-title: #192A3E;
$color-grey: #90a0b7;
$color-light-grey: #C2CFE0;
$color-blue: #109cf1;
$color-blue-dark: #0b78bb;
$color-blue-20: rgba(16, 156, 241, 0.2);
$color-white: #FFFFFF;
$color-red: #FB3230;
$color-green: #2ED47A;
$color-light-green: #6ACCCE;

$font-SF-Light-normal: 'SF Pro Display Light', sans-serif;
$font-SF-Regular-normal: 'SF Pro Display Regular', sans-serif;
$font-SF-medium-normal: 'SF Pro Display Medium', sans-serif;
$font-SF-Semibold-normal: 'SF Pro Display Semibold', sans-serif;
$font-SF-Bold-normal: 'SF Pro Display Bold', sans-serif;
$font-SF-Black-normal: 'SF Pro Display Black', sans-serif;

$font-Rubik-Regular-normal: 'Rubik Regular', sans-serif;
$font-Rubik-Medium-normal: 'Rubik Medium', sans-serif;
